.footer {
    background: #000;
    color: #fff;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;

    &__wrap {
        @media screen and (min-width: 1024px) {
            padding-top: 8vh;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__box {
        padding-top: 7vh;
        @include flex;

        @media screen and (min-width: 1024px) {
            padding: 0;
        }
    }

    &__line {
        display: inline-block;
        height: 1px;
        width: 35%;
        background: #fff;

        @media screen and (min-width: 1024px) {
            width: 42%;
        }
    }

    &__logo {
        height: 75px;
        width: 75px;

        @media screen and (min-width: 1024px) {
            height: 130px;
            width: 130px;
        }
    }

    &__menu {
        text-align: center;
        font-size: 16px;
        margin: 36px 0;
        line-height: 3;

        @media screen and (min-width: 1024px) {
            margin: 0 auto -7vh;
            font-size: 16px;
            width: 80%;
            display: grid;
            grid-template-columns: 22% 28% 28% 22%;
            grid-template-areas: "area1 area2 area3 area4";
        }
    }

    &__grid1 {
        @media screen and (min-width: 1024px) {
            grid-area: "area1";
        }
    }

    &__grid2 {
        @media screen and (min-width: 1024px) {
            grid-area: "area2";
            justify-self: left;
        }
    }

    &__grid3 {
        @media screen and (min-width: 1024px) {
            grid-area: "area3";
            justify-self: right;
        }
    }

    &__grid4 {
        @media screen and (min-width: 1024px) {
            grid-area: "area4";
            justify-self: end;
        }
    }

    &__grid5 {
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &__icon {
        display: none !important;

        @media screen and (min-width: 1024px) {
            display: block !important;
            margin-right: 10px;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;

        @media screen and (min-width: 1024px) {
            @include flex;
            justify-content: start;

            &:hover {
                opacity: 0.6;
                transition: 0.4s;
            }
        }
    }

    &__unit {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            @include flex;
            margin: -4vh auto 0;
            width: 90%;
        }
    }

    &__flex {
        @media screen and (min-width: 1024px) {
            flex-basis: 45%;
            @include flex;
            align-items: start;
        }
    }

    &__menu2 {
        width: 85%;
        margin: 0 auto 2vh;
        line-height: 1.8;
        font-size: 13px;

        @media screen and (min-width: 1024px) {
            width: 100%;
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 8%;
        }
    }

    &__ttl {
        font-weight: 800;
        font-size: 14px;
        padding-left: 24px;
        position: relative;
        height: 50px;

        @media screen and (min-width: 1024px) {
            // margin-bottom: 1.5vh;
            pointer-events: none;
            padding-left: 5px;
        }
    }

    &__txt2 {
        display: none;
        
        @media screen and (min-width: 1024px) {
            height: 110px;
            font-size: 12px;
            margin: 0 0 2vh 5px;
            display: block;
        }
    }

    &__calendar {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            width: 200px;
            height: 200px;
            margin-bottom: 2vh;
        }
    }

    &__airbnb {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            margin-top: 2vh;
        }
    }

    &__link2 {
        text-decoration: none;
        color: #fff;
        font-size: 14px;

        @media screen and (min-width: 768px) {
            display: inline-block;
            background: rgba(255, 255, 255, 0.15);
            border: 1px solid #fff;
            border-radius: 30px;
            padding: 10px;
            width: 100%;
            text-align: center;
            font-size: 13px;

            &:hover {
                opacity: 0.6;
                transition: 0.4s;
            }
        }
    }

    &__line3 {
        display: inline-block;
        height: 1px;
        width: 100%;
        background: #fff;
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__copy {
        text-align: center;
        font-size: 12px;
        padding-bottom: 36px;

        @media screen and (min-width: 768px) {
            padding: 24px;
        }
    }
}