.cafemv {
  height: 100vh;
  position: relative;

  @media screen and (min-width: 1024px) {
    margin-bottom: 20vh;
  }

  &__logo {
    z-index: 2;
    width: 90%;
    height: auto;
    position: absolute;
    top: 30vh;
    left: 5%;

    @media screen and (min-width: 1024px) {
      top: 30vh;
      left: 5%;
      width: 50%;
    }
  }

  &__png {
    margin-bottom: 1vh;

    @media screen and (min-width: 1024px) {
      margin-bottom: 3vh;
    }
  }

  &__txt {
    font-size: 15px;
    margin-left: 5%;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 1.7;
    }
  }

  &__pic {
    height: 100vh;
    width: 65%;
    position: absolute;
    left: 35%;

    @media screen and (min-width: 1024px) {
      left: 58%;
      width: 42%;
    }
  }

  &__img {
    background: #fff;
    opacity: 0.6;
  }

}

.cafeabout {
  margin-bottom: 15vh;

  @media screen and (min-width: 1024px) {
    margin-bottom: 20vh;
  }

  &__ttl {
    margin-bottom: 2vh;

    @media screen and (min-width: 1024px) {
      @include pcttl;
      font-size: 26px;
    }
  }

  &__ttl2 {
    margin-bottom: 2vh;

    @media screen and (min-width: 1024px) {
      @include pcttl;
    }
  }

  &__txt {
    font-size: 13px;
    margin-bottom: 2vh;
  }

  &__pic1 {
    margin: 15vh 0 5vh auto;
    height: 35vh;
    width: 90%;

    @media screen and (min-width: 1024px) {
      margin: 15vh auto 0 0;
      height: 65vh;
      width: 70%;
    }
  }

  // &__pic2 {
  //   // margin: 2vh 0 5vh;
  //   // height: 30vh;
  //   // width: 70%;

  //   @media screen and (min-width: 1024px) {
  //     display: none;
  //   }
  // }

  &__box1 {
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      margin: 8vh 0 0 12%;
      height: 40vh;
      width: 60%;
    }
  }

  &__pic3 {
    margin: 5vh auto 15vh 0;
    height: 35vh;
    width: 90%;

    @media screen and (min-width: 1024px) {
      margin: -50vh 0 20vh auto;
      height: 52vh;
      width: 20%;
    }
  }

  &__img {
    @media screen and (min-width: 1024px) {
      object-position: 80% 10%;
    }
  }

  &__flex {
    @media screen and (min-width: 1024px) {
      @include flex;
      border: 5px solid #fff;
      width: 90%;
      margin: 0 auto;
      padding: 2% 5%;
    }
  }

  &__pic4 {
    margin: 0 5% 5vh 5%;
    height: 30vh;

    @media screen and (min-width: 1024px) {
      margin: 0 5% 0vh 0%;
      height: 40vh;
      width: 40%;
    }
  }

  &__box2 {
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      margin: 0;
      width: 50%;
    }
  }

}

.cafebagels {
  width: 80%;
  margin: 0 auto 35vh;
  text-align: center;

  &__ttl {
    @media screen and (min-width: 1024px) {
      @include pcttl;
      margin-bottom: 2vh;
    }
  }

  &__txt {
    font-size: 13px;
    margin-bottom: 2vh;
  }
}

.swiper1 {
  width: 100%;
  height: 22vh;

  @media screen and (min-width: 1024px) {
    height: auto;
  }

  &-wrapper {
    height: auto !important;
  }

  &-slide {
    @include flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      background: rgba(255, 255, 255, 0.52);
      padding: 2%;
    }
  }

  &-pic {
    width: 40%;

    @media screen and (min-width: 1024px) {
      width: 200px;
    }
  }

  &-button-prev,
  &-button-next {
    display: none!important;

    @media screen and (min-width: 1024px) {
      display: block!important;
    }
  }

  &-button-prev::after,
  &-button-next::after {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      color: rgb(0, 0, 0);
    }
  }

  &-scrollbar {
    display: none;
  }
}