@mixin ttl {
  font-size: 15px;
  font-weight: 800;
  opacity: 0.9;
  line-height: 1;
  letter-spacing: -2px;
  color: rgb(255, 255, 255);
  text-align: center;

  @media screen and (min-width: 1024px) {
    letter-spacing: normal;
  }
}

.top {
  position: relative;
  z-index: 2;
  background: #000;

  &__pic {
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    filter: blur(1px);
  }

  &__saipanimg {
    object-position: 45% 50%;
  }

  &__snowimg {
    object-position: 27% 50%;
  }

  &__box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 10% 5%;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      padding: 3% 4%;
      width: auto;
    }
  }

  &__ttl1 {
    @include ttl;
    font-size: 45px;

    @media screen and (min-width: 1024px) {
      font-size: 88px;
      line-height: 1.1;
    }
  }

  &__ttl2 {
    @include ttl;
    font-size: 40px;
    font-family: 'Kosugi Maru', sans-serif;

    @media screen and (min-width: 1024px) {
      font-size: 84px;
    }
  }

  &__ttl3 {
    @include ttl;
    font-size: 50px;

    @media screen and (min-width: 1024px) {
      font-size: 92px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__farmttl {
      display: none;
    }
  }

  &__ttl4 {
    @include ttl;
    font-size: 50px;

    @media screen and (min-width: 1024px) {
      font-size: 120px;
    }
  }
  
  &__visit {
    text-align: center;
    margin-top: 20px;
    
        @media screen and (min-width: 1024px) {
          margin-top: 36px;
        }
  }

  &__link {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
  }

}