@mixin ttl {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.9;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-align: center;

  @media screen and (min-width: 1024px) {
    letter-spacing: normal;
  }
}

/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 5px;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #000;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 5px;
    opacity: 0;
  }

  30% {
    height: 30px;
    opacity: 1;
  }

  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

.top {
  position: relative;
  z-index: 2;
  background: #000;

  &__kari {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 2px;
  }

  &__pic {
    height: 100vh;
    width: 100%;
    opacity: 0.8;
  }

  &__saipanimg {
    object-position: 45% 50%;
  }

  &__snowimg {
    object-position: 27% 50%;
  }

  &__box {
    width: auto;
    padding: 5% 4%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    @media screen and (min-width: 1024px) {
      border: 10px solid rgba(255, 255, 255, 0.8);
    }
  }

  &__ttl1 {
    @include ttl;
    font-size: 45px;
    white-space: nowrap;

    @media screen and (min-width: 1024px) {
      font-size: 7vw;
      line-height: 1.1;
    }
  }

  &__ttl2 {
    @include ttl;
    font-size: 40px;
    font-family: 'Kosugi Maru', sans-serif;
    white-space: nowrap;

    @media screen and (min-width: 1024px) {
      font-size: 6vw;
    }
  }

  &__ttl3 {
    @include ttl;
    font-size: 50px;
    white-space: nowrap;

    @media screen and (min-width: 1024px) {
      font-size: 6.2vw;
    }
  }

  @media screen and (min-width: 1024px) {
    &__farmttl {
      display: none;
    }
  }

  &__ttl4 {
    @include ttl;
    font-size: 50px;

    @media screen and (min-width: 1024px) {
      font-size: 8vw;
    }
  }

  &__visit {
    text-align: center;
    margin-top: 20px;

    @media screen and (min-width: 1024px) {
      margin-top: 36px;
    }
  }

  &__link {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
  }

}

.start {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 60%;
}