.ssmv {
  text-align: center;

  &__pic {
    height: 80vh;
    width: 100%;
  }

  &__ttl {
    font-size: 24px;
    margin-bottom: 2vh;
  }

  &__txt {
    margin-bottom: 15vh;
  }
}

.ssabout {
  margin-bottom: 15vh;

  &__unit {
    display: none;
  }

  &__pic1 {
    width: 100%;
    margin-bottom: 2vh;
  }

  &__pic2 {
    width: 100%;
  }

  &__txt {
    width: 80%;
    margin: 0 auto 5vh;
  }

  &__boxes {
    width: 80%;
    margin: 0 auto;
  }

  &__line {
    display: block;
    background: #000;
    height: 1px;
    margin: 2vh 0;
  }

  &__box1,
  &__box2 {
    width: 90%;
    margin: 0 auto;
  }

  &__sub {
    margin-bottom: 1vh;
  }
}

.ssactivity {
  width: 80%;
  margin: 0 auto 15vh;

  &__ttl {
    font-size: 15px;
    margin-bottom: 2vh;
  }

  &__txt {
    margin-bottom: 2vh;
  }
}

.swiper2 {
  width: 100%;
  // background: red;

  &-wrapper {
    height: auto !important;
  }

  &-slide {
    @include flex;
    flex-direction: column;
  }

  &-pic {
    width: 100%;
    height: 34vh;
    position: relative;
  }

  &__box {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    font-size: 12px;
  }

  &__span {
    font-size: 15px;
    font-weight: 800;
  }

  &__exp {
    line-height: 1.5;
  }

  // &-button-prev,
  // &-button-next {
  //   position: absolute !important;
  // }

  &-button-prev::after,
  &-button-next::after {
    display: none;
    // position: relative !important;
    // top: 0;
    // right: 0;
    // color: rgb(43, 214, 114);
  }

  &-pagination {
    position: inherit !important;
  }
}

.ssaccess {

  &__ttl {
    width: 80%;
    margin: 0 auto 15vh;
    font-size: 15px;
    margin-bottom: 2vh;
  }

  &__pic {
    width: auto;
    // height: 25vh;
    margin-bottom: 2vh;
  }

  &__txt {
    width: 80%;
    margin: 0 auto 15vh;

  }
}