body {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  background: #FAF8F5;
  font-size: 13px;
}

.saipan {
  background: url(../../images/saipan/bg.jpg);

  &__scroll {
    display: block !important;
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1024px) {
      top: 97vh;
    }
  }

  &__info {
    height: 15vh;
  }
}

.saipanmv {
  background: #D4C9B3;
  height: 100vh;
  @include flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
  margin-bottom: 15vh;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30vh;
  }

  &__logo {
    width: 90%;
    height: auto;
    position: absolute;
    top: 30%;
    
    @media screen and (min-width: 1024px) {
      position: absolute;
      top: 22%;
      width: 40%;
    }
  }
  
  &__pic {
    position: absolute;
    top: 45%;
    width: 90%;
    
    @media screen and (min-width: 1024px) {
      position: absolute;
      top: 38%;
      width: 60%;
      height: auto;
    }
  }
}

.saipanabout,
.saipanhistory,
.saipanpan {
  margin-bottom: 15vh;

  &__box {
    width: 90%;
    margin: 0 auto;
  }

  &__ttl {
    font-size: 16px;
    margin-bottom: 2vh;
  }

  &__txt {
    margin-bottom: 2vh;
  }

  &__pic {
    height: 30vh;
    margin-bottom: 5vh;
  }
}

@media screen and (min-width: 1024px) {

  .saipanabout {
    width: 80%;
    margin: 0 auto 15vh;
    @include flex;
    flex-direction: row-reverse;
    align-items: start;

    &__box {
      flex-basis: 60%;
    }
    
    &__ttl {
      font-size: 26px;
      margin-bottom: 5vh;
      width: 100%;
    }
    
    &__txt {
      width: 90%;
      margin-right: 10%;
    }
    
    &__pic {
      flex-basis: 40%;
      height: 70vh;
    }
  }

  .saipanhistory,
  .saipanpan {
    @include flex;
    width: 80%;
    margin: 0 auto 15vh;

    &__box {
      flex-basis: 50%;
      width: 90%;
    }

    &__ttl {
      @include pcttl;
    }

    &__pic {
      flex-basis: 50%;
      height: 50vh;
    }

    &__img {
      border-radius: 30px;
    }
  }

  .saipanhistory {
    margin-bottom: 5vh;

    &__box {
      margin: 0 3% 0 7%;
    }
  }

  .saipanpan {
    flex-direction: row-reverse;

    &__box {
      margin: 0 7% 0 3%;
    }
  }

  .saipan__info {
    width: 510px;
    height: 20vh;
  }
}