.ssmv {
  text-align: center;

  &__pic {
    height: 80vh;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(180deg, transparent 0 60%, #FAF8F5 80%);
    }

    @media screen and (min-width: 1024px) {
      height: 100vh;

    }
  }

  &__ttl {
    font-size: 24px;
    margin-bottom: 2vh;

    @media screen and (min-width: 1024px) {
      font-size: 88px;
      letter-spacing: 6px;
      margin: 16vh 0 8vh;
    }
  }

  &__txt {
    margin-bottom: 15vh;
  }
}

.ssabout {
  margin-bottom: 15vh;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30vh;
  }

  &__pic1 {
    width: 100%;
    margin-bottom: 2vh;

    @media screen and (min-width: 1024px) {
      width: 80%;
      height: 80vh;
      margin: 0 auto 5vh;
    }
  }

  &__img {
    @media screen and (min-width: 1024px) {
      border-radius: 10px;
    }
  }

  // &__unit {
  //   display: none;

  //   @media screen and (min-width: 1024px) {
  //     display: block;
  //     @include flex;
  //     gap: 10px;
  //     width: 80%;
  //     margin: 10px auto 5vh;
  //   }
  // }

  &__pic2 {
    width: 100%;

    @media screen and (min-width: 1024px) {
      height: 200px;
    }
  }

  &__txt {
    width: 80%;
    margin: 0 auto 5vh;

    @media screen and (min-width: 1024px) {
      width: 75%;
    }
  }

  &__boxes {
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      @include flex;
    }
  }

  &__line {
    display: block;
    background: #000;
    height: 1px;
    margin: 2vh 0;

    @media screen and (min-width: 1024px) {
      width: 80%;
      margin: 0vh auto;
    }
  }

  &__inline {
    @extend .ssabout__line;

    @media screen and (min-width: 1024px) {
      height: 200px;
      width: 2px;
      margin: 2vh 0;
    }
  }

  &__box1,
  &__box2 {
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      width: 80%;
      margin-left: 8%;
    }
  }

  &__sub {
    margin-bottom: 1vh;
  }
}

.ssactivity {
  width: 80%;
  margin: 0 auto 15vh;

  @media screen and (min-width: 1024px) {
    width: 70%;
    margin-bottom: 30vh;
  }

  &__ttl {
    font-size: 15px;
    margin-bottom: 2vh;

    @media screen and (min-width: 1024px) {
      @include pcttl;
      text-align: center;
    }
  }

  &__txt {
    margin-bottom: 2vh;

    @media screen and (min-width: 1024px) {
      text-align: center;
      margin: 0 auto 5vh;
    }
  }
}

.swiper2 {
  width: 100%;

  &-wrapper {
    height: auto !important;
  }

  &-pic {
    width: 100%;
    height: 34vh;
    position: relative;

    @media screen and (min-width: 1024px) {
      height: 350px;
      border: 1px solid rgba(139, 139, 139, 0.219);
    }
  }

  &__box {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4% 5%;
    font-size: 12px;
  }

  &__span {
    font-size: 15px;
    font-weight: 800;
  }

  &__exp {
    line-height: 1.5;
  }

  &-button-next {
    display: none !important;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &-button-prev::after,
  &-button-next::after {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      color: #000;
      margin-top: 70px;
    }
  }

  &-pagination {
    position: inherit !important;
  }
}

.ssaccess {
  margin-bottom: 15vh;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30vh;
  }

  &__ttl {
    width: 80%;
    margin: 0 auto 2vh;
    font-size: 15px;

    @media screen and (min-width: 1024px) {
      @include pcttl;
      text-align: center;
    }
  }

  &__pic {
    display: none;

    @media screen and (min-width: 1024px) {
      width: 90%;
      margin: 0 auto 2vh;
    }
  }
  
  &__gmap {
    width: 90%;
    height: 35vh;
    margin: 0 auto;
    margin-bottom: 2vh;
    
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__txt {
    width: 80%;
    margin: 0 auto;
  }

  &__txt1 {
      display: none;
  }
}

.pageinfo__ttl_snowshack {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 5px;
  width: 80%;
  margin: 5vh auto;

  @media screen and (min-width: 1024px) {
    margin: 5vh auto -10vh 50px;
    font-size: 62px;
    width: 510px;
  }
}